<div class="col-md-12 main">
    <div class="col-md-4">
        <img class="img-container" src="/uploads/file-1458437654866.png" alt="Project image">
        <h6>www.projecturl.com</h6>
    </div>
    <div class="col-md-4">
        <h5>Project 1</h5>
        <p>This is the description of project 1. This is the description of project 1. This is the description of project 1. This is the description of project 1.</p>
    </div>
    <div class="col-md-4">
        <h5>Author</h5>
        <p>Firstname Lastname</p>
        <p><a href="http://www.linkedin.com">Linkedin URL</a></p>
        <p><a href="http://www.github.com">Github URL</a></p>
        <h5>Technologies Used</h5>
        <p>AngularJS</p>
        <p>MongoDB</p>

    </div>
</div>