<div class="col-md-12 main" ng-repeat="student in students">
    <div class="col-md-4">
        <img class="img-container" ng-src="/uploads/{{ student.file_url }}" alt="Project image">
        <h6>{{student.project_url}}</h6>
    </div>
    <div class="col-md-4">
        <h5>{{student.project_name}}</h5>
        <p>{{student.project_description}}</p>
    </div>
    <div class="col-md-4">
        <h5>Author</h5>
        <p>{{student.first_name}} {{student.last_name}}</p>
        <p><a href="{{student.linkedin_url}}">Linkedin URL</a></p>
        <p><a href="{{student.github_url}}">Github URL</a></p>
        <h5>Technologies Used</h5>
        <p>{{student.tech_used}}</p>
    </div>
</div>

<!-- populate page with data from $scope.project -->